<h2>Favorites</h2>
<div class="row marketing" ng-controller="FavCtrl as model">
	<div class="col-lg-6" ng-repeat="track in model.favorites" style="margin-bottom:20px;" ng-mouseover="model.hoverOn($index)" ng-mouseleave="model.hoverOff($index)">
		<div style="float:left;margin-right: 20px; width:60px;height:60px;">
			<img class="thumbnail" ng-src="{{track.artworkUrl60}}" >
		</div>
		<p class="limited">
			<span ><strong ng-bind="track.trackName"></strong></span><br/>
			<span ng-bind="track.artistName"></span><br/>
			<span ng-bind="track.collectionName"></span>
		</p>
		<div class="control-overlay" ng-show="model.currentHover == $index">
			<div class="control-overlay-inner">

				<div class="preview">
					<audio controls id="audio{{$index}}">
						<source ng-src="{{model.trustSrc(track.previewUrl)}}" type="audio/x-m4a">
						</audio>
					</div>
				</div>
				<div class="preview">
				<a href="#" ng-click="model.deleteFavorite(track.id,$index)"><div class="circle-delete">Delete</div></a>
				<a ng-href="{{track.trackViewUrl}}"><div class="circle-buy">Buy</div></a>
			</div>
			</div>
		</div>
	</div>
