
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <base href="/app/"></base>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Narrow Jumbotron Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="app.css">
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="container" ng-controller="MainCtrl as model">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="model.currentTab == 'home' && 'active' || ''" ng-click="model.currentTab = 'home'"><a href="#">Home</a></li>
        <li role="presentation" ng-class="model.currentTab == 'search' && 'active' || ''" ng-click="model.currentTab ='search'")><a href="#">Search</a></li>
        <li role="presentation" ng-class="model.currentTab == 'fav' && 'active' || ''" ng-click="model.currentTab ='fav'"><a href="#">Favorites</a></li>
        <li role="presentation" ng-class="model.currentTab == 'settings' && 'active' || ''" ng-click="model.currentTab ='settings'"><a href="#">Settings</a></li>
      </ul>
    </nav>

    <input type="search" placeholder="Search songs..." class="form-control" style="width:50%;" ng-model="model.searchString" ng-change="model.search(model.searchString)"></input>
  </div>
  <div ng-switch on="model.currentTab" ng-animate="'animate'">
    <div ng-switch-when="home" >
      <div ng-include="'home/home.html'"></div>
    </div>
    <div ng-switch-when="search">
      <ng-include src="'search/search.html'"/>
    </div>
    <div ng-switch-when="fav" >
      <ng-include src="'favorite/favorite.html'"/>
    </div>
    <div ng-switch-when="settings" >
      <ng-include src="'settings/settings.html'"/>
    </div>
  </div>
</div>



<footer class="footer">
  <p>&copy; Company 2014</p>
</footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="ie10-viewport-bug-workaround.js"></script>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="home/home.js"></script>
<script src="search/search.js"></script>
<script src="favorite/favorite.js"></script>
<script src="settings/settings.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
</body>
</html>











